<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consumable_type.name %>
</p>

<%= link_to 'Edit', edit_consumable_type_path(@consumable_type) %> |
<%= link_to 'Back', consumable_types_path %>
